extends layout

block content
  h1= title
    nav
      a(href="/categories") Back

  p #{category.name}
  p #{category.description}

  h2 Are you sure you want to delete this category?

  form(method='post' action='')
    button Delete
