extends layout

block content
  h1= title
    nav
      a(href="/") Home
      a(href="/categories/new") New

  each category in categories
    div.category-card
      div.category
        a(href=category.url) #{category.name}
      div.category #{category.description}