extends layout

block content
  h1= title
    a.button(href="/categories") Back

  p #{category.name}
  p #{category.description}

  h2 Are you sure you want to delete this item?

  form(method='post' action='')
    button Delete
