extends layout

block content
  h1= title
  h3 Welcome to #{title}

  nav
    a(href="/") Home
    a(href="/categories") Categories
    a(href="/items") Items

  div
    h1 Grantiques
    p Soon to be a lego shop, but anyway!
    p Our current inventory includes
    a(href="/categories") #{data.categoryCount} Categories
    a(href="/items") #{data.itemCount} Items