@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: ScopeOne;
  src: url(../fonts/Scope_One/ScopeOne-Regular.ttf);
}

body {
  padding: 50px;
  font: 14px "ScopeOne", serif;
  background: #333333;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

nav > a {
  text-decoration: none;
}

a {
  color: #00b7ff;
}

button {
  font-size: 1.5rem;
  font-family: ScopeOne;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div.input {
  display: flex;
  flex-direction: column;
}

.price::after {
  font-size: 1.5rem;
  content: "$";
  display: inline;
  position: fixed;
  transform: translateX(-1.5rem) translateY(0.1rem);
}

select,
input {
  font-size: 1.5rem;
  border-radius: 0.3rem;
  width: 100%;
  border: 2px solid gray;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span {
  display: block;
  overflow: hidden;
  padding-right: 10px;
  margin: 0;
  width: 100%;
}

ul {
  list-style-type: none;
}

.error,
ul.error {
  background: #ccaaaa;
  padding: 1rem;
  border-radius: 0.5rem;
}

.category-card {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem; */
}

.item-card {
  background: #aaaaaa;

  padding: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 1);
  transition: 0.3s;
  border-radius: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
/* 
.item-card-image {
  min-width: 250px;
  width: 250px;
  text-align: center;
} */

.item-card-image {
  justify-self: center;
  align-self: center;
}

.item-card-content {
  padding-left: 1rem;
}

.item-card-image > img {
  max-width: 250px;
  max-height: 150px;
}

.item-card-content > h1 {
  padding: 0;
  margin: 0;
}
